<% include ../partials/header %>

    <div class="user-profile">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="user-info-img text-center">
						<img class="rounded-circle" src="<%= user.image %>" alt="<%= user.firstname %> <%= user.lastname %>">
					</div>
				</div>
				<div class="col-sm-9">
					<% if(currentUser && user._id.equals(currentUser._id)){ %>
					<div class="user-btn-tool pull-right">
						<a href="/profile/<%= user._id %>/edit" data-toggle="tooltip" data-placement="bottom" title="Edit Profile"><i class="fa fa-pencil" aria-hidden="true"></i></a>
						<button type="button" data-toggle="modal" data-target="#modalDelete"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
					</div>
					<% } %>
					<div class="user-info-text">
						<h4><%= user.firstname %> <%= user.lastname %></h4>
						<p class="text text-muted">Camper Since <%= moment(user.join).format("MMMM, YYYY") %></p>
					</div>
					<hr>
				</div>
			</div>
		</div>
	</div>

	<% if(currentUser && user._id.equals(currentUser._id)){ %>
	<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDelete" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalDeleteTitle">Delete Account</h5>
				  	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
				  	</button>
				</div>
				<div class="modal-body">
					Are you sure want to delete your Account ?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
					<form action="/profile/<%= user._id %>?_method=DELETE" method="POST">  
						<button type="submit" class="btn btn-danger">Delete</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<% } %>

<% include ../partials/footer %>