<% include ../partials/header %>

    <div class="new-camp">
		<div class="container">
			<div class="row row justify-content-center">
				<div class="col-sm-12 col-lg-10">
					<a href="/campgrounds"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
					<h3>Edit <%= camp.name %> Camp</h3>
					<form action="/campgrounds/<%= camp._id %>?_method=PUT" enctype="multipart/form-data" method="POST">
						<div class="row">
							<div class="form-group col-sm-6">
								<label for="name">Name</label>
								<input type="text" name="name" class="form-control" placeholder="Name" value="<%= camp.name %>">
							</div>
							<div class="col-sm-6">
								<label for="price">Price</label>
								<div class="input-group mb-3">
	  								<div class="input-group-prepend">
	    								<span class="input-group-text">$</span>
	  								</div>
	  								<input type="number" name="price" class="form-control" placeholder="99" value="<%= +camp.price %>">
	  								<div class="input-group-append">
	    								<span class="input-group-text">.00</span>
	  								</div>
								</div>
							</div>
							<div class="form-group col-sm-12">
					    		<label for="image">Image/Slides</label>
								<div class="view-wrap">
									<div class="img-preview">
									<% camp.image.forEach((item) => { %>
										<div class="img-preview-single edit-img-up">
											<figure>
												<img class="edit-show" src="<%= item %>">
												<figcaption>
													<i class="fa fa-trash-o" aria-hidden="true"></i>
												</figcaption>
											</figure>
											<a href="#" class="edit-remove" data-href="<%= item %>">Remove</a>
											<input type="hidden" name="images" value="<%= item %>">
										</div>
									<% }) %>
									</div>							
									<div class="toolbar-button clearfix">
										<label for="file-upload-many" class="custom-file-upload">
	    									<i class="fa fa-cloud-upload"></i> Upload Image
										</label>
										<input id="file-upload-many" name="image" type="file" accept="image/*" multiple>
										<a class="btn btn-outline-dark cancel many">Clear Upload</a>
									</div>
								</div>
					  		</div>
					  		<div class="form-group col-sm-12">
						    	<label for="description">Description</label>
						      	<textarea name="description" class="form-control" placeholder="Description" rows="6"><%= camp.description %></textarea>
						  	</div>
							<div class="form-group col-md-6">
						    	<label for="features">Features</label>
						    	<select multiple="multiple" id="features" name="features">
								<% 
									const optionFeatures = ["Toilets", "Shower", "Trash", "RV sanitation", "Picnic table", "RV hookup"];
									optionFeatures.some(item => {
										if(camp.features.includes(item)) { %>
											<option selected value="<%= item %>"><%= item %></option>
										<% } else { %>
											<option value="<%= item %>"><%= item %></option>
										<% }
									});
								%>
	   							</select>
						  	</div>
						  	<div class="form-group col-md-6">
						    	<label for="activities">Activities</label>
						    	<select multiple="multiple" id="activities" name="activities">
	      						<%
									const optionActivity = ["Biking", "Paddling", "Whitewater paddling", "OHV", "Horseback riding", "Swimming", "Wind sports", "Hiking", "Snow Sports", "Boating", "Fishing", "Climbing", "Wildlife watching", "Surfing"];
									optionActivity.some(item => {
										if(camp.activities.includes(item)) { %>
											<option selected value="<%= item %>"><%= item %></option>
										<% } else { %>
											<option value="<%= item %>"><%= item %></option>
										<% }
									});
								%>
	   							</select>
						  	</div>
						  	<div class="form-group col-sm-12 text-right">
						  		<a class="btn btn-secondary" href="/campgrounds">Cancel</a>
						  		<button type="submit" class="btn btn-success">Save</button>
						  	</div>
						</div>
					</form>
				</div>	
			</div>
		</div>
	</div>

<% include ../partials/footer %>