<% include ../partials/header %>

	<div class="campgrounds">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="jumbotron">
						<h2 class="display-4"><strong><i class="fa fa-compass" aria-hidden="true"></i> Welcome To YelpCamp!</strong></h1>
						<p class="lead"><strong>View our hand-picked campgrounds from all over the world</strong></p>
						<a class="btn btn-primary btn-md" href="/campgrounds/new" role="button">Add new Campground</a>
					</div>
				</div>	
			</div>
		</div>
	</div>

	<div class="camps">
		<div class="container">
			<div class="row">
				<% camps.forEach((camp) => { %>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="card">
						<img class="card-img-top" src="<%= camp.image[0] %>" alt="Campground">
						<div class="card-body">
							<h5 class="card-title"><a href="/campgrounds/<%= camp._id %>"><%= camp.name %></a></h5>
							<p class="card-text"><%= camp.description.substring(0, 50) %></p>
							<a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">More Info</a>
						</div>
					</div>
				</div>
				<% }) %>
			</div>
		</div>
	</div>

<% include ../partials/footer %>